<section class="nfts">
	<div class="nfts__category category">
		<div class="category__title">All NFTS</div>
		<div class="category__count">2,345,678 items</div>
		<button class="btn-more category__btn">See all</button>
	</div>
	<ul class="nft-tags">
		<li class="nft-tag">
			<span data-img="popular"></span>
			<span>Popular</span>
		</li>
		<li class="nft-tag">
			<span data-img="art"></span>
			<span>Arts</span>
		</li>
		<li class="nft-tag">
			<span data-img="game"></span>
			<span>Games</span>
		</li>
		<li class="nft-tag">
			<span data-img="music"></span>
			<span>Music</span>
		</li>
		<li class="nft-tag">
			<span data-img="sport"></span>
			<span>Sports</span>
		</li>
		<li class="nft-tag">
			<span data-img="photo"></span>
			<span>Photography</span>
		</li>
	</ul>
</section>
