<section class="nfts">
	<div class="nfts__category category">
		<div class="category__title">All NFTS</div>
		<div class="category__count">2,345,678 items</div>
		<button class="btn-more category__btn">See all</button>
	</div>
	<ul class="nft-tags nfts__tags">
		<li class="nft-tag">
			<span data-img="popular"></span>
			<span>Popular</span>
		</li>
		<li class="nft-tag">
			<span data-img="art"></span>
			<span>Arts</span>
		</li>
		<li class="nft-tag">
			<span data-img="game"></span>
			<span>Games</span>
		</li>
		<li class="nft-tag">
			<span data-img="music"></span>
			<span>Music</span>
		</li>
		<li class="nft-tag">
			<span data-img="sport"></span>
			<span>Sports</span>
		</li>
		<li class="nft-tag">
			<span data-img="photo"></span>
			<span>Photography</span>
		</li>
	</ul>

	<div class="nft-cards nfts__cards">
		<div class="nft-card">
			<div class="nft-card__top">
				<img
					width="276"
					height="240"
					src="./assets/img/content/cards/card1.webp"
					alt="nft image"
					class="nft-card__img"
				/>
			</div>
			<div class="nft-card__body">
				<div class="nft-card__info">
					<div class="nft-card__title">The Future wave #23</div>
					<div class="nft-card__tag">@spaceman</div>
				</div>
				<div class="nft-card__user-img">
					<img
						src="./assets/img/content/cards/user1.png"
						alt="nft owner picture"
					/>
				</div>
			</div>
			<div class="nft-card__bottom">
				<div class="nft-card__price-info">
					<div class="nft-card__bid">Current Bid</div>
					<div class="nft-card__price">0.24 BTC</div>
				</div>
				<div class="nft-card__time-info">
					<div class="nft-card__ending">Ending in</div>
					<div class="nft-card__time">12h 14m 16s</div>
				</div>
			</div>
		</div>

		<div class="nft-card">
			<div class="nft-card__top">
				<img
					width="276"
					height="240"
					src="./assets/img/content/cards/card2.webp"
					alt="nft image"
					class="nft-card__img"
				/>
			</div>
			<div class="nft-card__body">
				<div class="nft-card__info">
					<div class="nft-card__title">Astro World #244</div>
					<div class="nft-card__tag">@astrowave</div>
				</div>
				<div class="nft-card__user-img">
					<img
						src="./assets/img/content/cards/user2.png"
						alt="nft owner picture"
					/>
				</div>
			</div>
			<div class="nft-card__bottom">
				<div class="nft-card__price-info">
					<div class="nft-card__bid">Current Bid</div>
					<div class="nft-card__price">0.24 BTC</div>
				</div>
				<div class="nft-card__time-info">
					<div class="nft-card__ending">Ending in</div>
					<div class="nft-card__time">12h 14m 16s</div>
				</div>
			</div>
		</div>

		<div class="nft-card">
			<div class="nft-card__top">
				<img
					width="276"
					height="240"
					src="./assets/img/content/cards/card3.png"
					alt="nft image"
					class="nft-card__img"
				/>
			</div>
			<div class="nft-card__body">
				<div class="nft-card__info">
					<div class="nft-card__title">Cyber Art #234</div>
					<div class="nft-card__tag">@cybermask</div>
				</div>
				<div class="nft-card__user-img">
					<img
						src="./assets/img/content/cards/user3.png"
						alt="nft owner picture"
					/>
				</div>
			</div>
			<div class="nft-card__bottom">
				<div class="nft-card__price-info">
					<div class="nft-card__bid">Current Bid</div>
					<div class="nft-card__price">0.24 BTC</div>
				</div>
				<div class="nft-card__time-info">
					<div class="nft-card__ending">Ending in</div>
					<div class="nft-card__time">7h 09m 20s</div>
				</div>
			</div>
		</div>
	</div>
</section>
