<div class="info-card info-card_position">
	<div class="info-card__content">
		<h1 class="info-card__title">Discover, Collect & Create your own NFT</h1>
		<div class="info-card__subtitle">Search items, collection, accounts</div>
		<div class="info-card__btns">
			<button class="info-card__btn info-card__btn_primary">
				Discover Now
			</button>
			<button class="info-card__btn info-card__btn_secondary">
				Create your NFT
			</button>
		</div>
	</div>
	<div class="info-card__img">
		<img
			src="./assets/img/content/info-card-girl.png"
			alt="girl in a vr helmet"
		/>
	</div>
</div>
