<div class="navigation">
	<div class="navigation__content">
		<ul class="navigation-menu">
			<li
				class="navigation-menu__item navigation-menu__item_active"
				tabindex="0"
			>
				<svg data-icon>
					<use href="./assets/img/svg/sprite.svg#home"></use>
				</svg>
				<span class="navigation-menu__item-text">dashboard</span>
			</li>
			<li class="navigation-menu__item" tabindex="0">
				<svg data-icon>
					<use href="./assets/img/svg/sprite.svg#category"></use>
				</svg>
				<span>marketplace</span>
			</li>
			<li class="navigation-menu__item" tabindex="0">
				<svg data-icon>
					<use href="./assets/img/svg/sprite.svg#message"></use>
				</svg>
				<span class="navigation-menu__item-text">messages</span>
			</li>
		</ul>

		<ul class="navigation-menu">
			<li class="navigation-menu__item" tabindex="0">
				<svg data-icon>
					<use href="./assets/img/svg/sprite.svg#folder"></use>
				</svg>
				<span class="navigation-menu__item-text">my collection</span>
			</li>
			<li class="navigation-menu__item" tabindex="0">
				<svg data-icon>
					<use href="./assets/img/svg/sprite.svg#wallet"></use>
				</svg>
				<span class="navigation-menu__item-text">wallet</span>
			</li>
			<li class="navigation-menu__item" tabindex="0">
				<svg data-icon>
					<use href="./assets/img/svg/sprite.svg#activity"></use>
				</svg>
				<span class="navigation-menu__item-text">history</span>
			</li>
			<li class="navigation-menu__item" tabindex="0">
				<svg data-icon>
					<use href="./assets/img/svg/sprite.svg#setting"></use>
				</svg>
				<span class="navigation-menu__item-text">settings</span>
			</li>
		</ul>

		<ul class="navigation-menu">
			<li class="navigation-menu__item" tabindex="0">
				<svg data-icon>
					<use href="./assets/img/svg/sprite.svg#resources"></use>
				</svg>
				<span class="navigation-menu__item-text">resources</span>
			</li>
		</ul>
		@include('./ad-card.html')
	</div>
</div>
