<div class="top-sellers top-sellers_position">
	<div class="top-sellers__header">
		<div class="top-sellers__title">Top Sellers</div>
		<button class="btn-more">See all</button>
	</div>
	<div class="sellers-list">
		<div class="seller">
			<div class="seller__info">
				<div class="seller__img">
					<img
						width="48"
						height="48"
						src="./assets/img/content/sellers/seller1.png"
						alt="top seller"
					/>
				</div>
				<div class="seller__data">
					<div class="seller__name">Sam Lee</div>
					<div class="seller__tag">@samlee</div>
				</div>
			</div>
			<button class="seller__btn flw-btn flw-btn_filled">Follow</button>
		</div>
		<div class="seller">
			<div class="seller__info">
				<div class="seller__img">
					<img
						width="48"
						height="48"
						src="./assets/img/content/sellers/seller2.png"
						alt="top seller"
					/>
				</div>
				<div class="seller__data">
					<div class="seller__name">Jane Donald</div>
					<div class="seller__tag">@janedoe</div>
				</div>
			</div>
			<button class="seller__btn flw-btn">Following</button>
		</div>
		<div class="seller">
			<div class="seller__info">
				<div class="seller__img">
					<img
						width="48"
						height="48"
						src="./assets/img/content/sellers/seller3.png"
						alt="top seller"
					/>
				</div>
				<div class="seller__data">
					<div class="seller__name">Lois Lane</div>
					<div class="seller__tag">@supermanschic</div>
				</div>
			</div>
			<button class="seller__btn flw-btn flw-btn_filled">Follow</button>
		</div>
		<div class="seller">
			<div class="seller__info">
				<div class="seller__img">
					<img
						width="48"
						height="48"
						src="./assets/img/content/sellers/seller4.png"
						alt="top seller"
					/>
				</div>
				<div class="seller__data">
					<div class="seller__name">Barry Allen</div>
					<div class="seller__tag">@Flash</div>
				</div>
			</div>
			<button class="seller__btn flw-btn flw-btn_filled">Follow</button>
		</div>
		<div class="seller">
			<div class="seller__info">
				<div class="seller__img">
					<img
						width="48"
						height="48"
						src="./assets/img/content/sellers/seller5.png"
						alt="top seller"
					/>
				</div>
				<div class="seller__data">
					<div class="seller__name">Jenner Foster</div>
					<div class="seller__tag">@jennerfos</div>
				</div>
			</div>
			<button class="seller__btn flw-btn flw-btn_filled">Follow</button>
		</div>
		<div class="seller">
			<div class="seller__info">
				<div class="seller__img">
					<img
						width="48"
						height="48"
						src="./assets/img/content/sellers/seller1.png"
						alt="top seller"
					/>
				</div>
				<div class="seller__data">
					<div class="seller__name">Sam Lee</div>
					<div class="seller__tag">@samlee</div>
				</div>
			</div>
			<button class="seller__btn flw-btn flw-btn_filled">Follow</button>
		</div>
		<div class="seller">
			<div class="seller__info">
				<div class="seller__img">
					<img
						width="48"
						height="48"
						src="./assets/img/content/sellers/seller2.png"
						alt="top seller"
					/>
				</div>
				<div class="seller__data">
					<div class="seller__name">Jane Donald</div>
					<div class="seller__tag">@janedoe</div>
				</div>
			</div>
			<button class="seller__btn flw-btn">Following</button>
		</div>
		<div class="seller">
			<div class="seller__info">
				<div class="seller__img">
					<img
						width="48"
						height="48"
						src="./assets/img/content/sellers/seller3.png"
						alt="top seller"
					/>
				</div>
				<div class="seller__data">
					<div class="seller__name">Lois Lane</div>
					<div class="seller__tag">@supermanschic</div>
				</div>
			</div>
			<button class="seller__btn flw-btn flw-btn_filled">Follow</button>
		</div>
		<div class="seller">
			<div class="seller__info">
				<div class="seller__img">
					<img
						width="48"
						height="48"
						src="./assets/img/content/sellers/seller4.png"
						alt="top seller"
					/>
				</div>
				<div class="seller__data">
					<div class="seller__name">Barry Allen</div>
					<div class="seller__tag">@Flash</div>
				</div>
			</div>
			<button class="seller__btn flw-btn flw-btn_filled">Follow</button>
		</div>
		<div class="seller">
			<div class="seller__info">
				<div class="seller__img">
					<img
						width="48"
						height="48"
						src="./assets/img/content/sellers/seller5.png"
						alt="top seller"
					/>
				</div>
				<div class="seller__data">
					<div class="seller__name">Jenner Foster</div>
					<div class="seller__tag">@jennerfos</div>
				</div>
			</div>
			<button class="seller__btn flw-btn flw-btn_filled">Follow</button>
		</div>
	</div>
</div>
